body {
    align-items: center;
    align-content: center;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    left: -13em;
    font-family: "Trirong", serif;
}

.container.c1 .navbar-custom {
    background-color: #C3E5AE;
}

.navbar-brand img {
    width: 5em;
}

.nav-item.active .nav-link {
    color: blue;
}

.container.c2 .col-6 .display-4 {
    font-family: "Trirong", serif;
    color: #C3E5AE;
}

.container.c2 .col-6 p {
    font-family: "Trirong", serif;
    color: #F1E1A6;
    margin-left: 3em;
}

.col-5 .display-4 {
    text-align: center;
    font-family: "Trirong", serif;
    color: #C3E5AE;
}

.container.c3 {
    position: relative;
    margin-top: 3em;
}

.carousel.slide .carousel-inner .carousel-item {
    position: relative;
    align-content: center;
    width: 60em;
    height: 20em;
}

.container.c4 {
    font-family: "Trirong", serif;
    color: #C3E5AE;
}

.container.c4 .row.my-5 .col-2 a {
    font-family: "Trirong", serif;
    color: #C3E5AE;
}